.container {
    width: 100%;
    height: 100%;

    /* height：100% 生效 */
    position: fixed; 

    background-color: aliceblue;

    display: flex;
    flex-direction: column;
}

.userarea {
    padding-top: 30px;
}