#footer {
    width: 100%;
    height: 50px;
    padding: 5px 0 5px 0;
    background-color: rgb(247, 247, 247);

    display: flex;
    justify-content: space-around;
    align-items: center;

    min-height: min-content;

    border-top: 1px solid rgb(218, 212, 199);

    font-size: 12px;
}

#footer .button {
    height: 40px;
    width: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer .button:hover {
    cursor: pointer;
}

.button img {
    width: 27px;
    height: 27px;
}

.btn-selected {    
    /* color: #237823; */
    filter: invert(36%) sepia(16%) saturate(2260%) hue-rotate(70deg) brightness(97%) contrast(89%);
}